In [1]:
#what is list object? list datatype?
a=[] #empty list
a=[]  #empty list
b=[10,20.5, "Rahul Gandhi", True] 

print(a)
print(b)

[]
[10, 20.5, 'Rahul Gandhi', True]

In [2]:
enames=['Rahul', 'Sonia','Priyanka','Modi']
#index    0        1          2        3
#read list elements - using indexing

print(enames[0])
print(enames[1])
print(enames[2])
print(enames[3])
print(enames[4])

Rahul
Sonia
Priyanka
Modi

IndexError: list index out of range

In [3]:
enames=['Rahul', 'Sonia','Priyanka','Modi']
#index    0        1          2        3

for ename in enames:
    print(ename)

Rahul
Sonia
Priyanka
Modi

In [4]:
users=['Rahul', 'Sonia','Priyanka','Modi']
enames=('Rahul', 'Sonia','Priyanka','Modi')
print(type(users))   #<class,list>
print(type(enames))  #<class,tuple>

<class 'list'>
<class 'tuple'>

In [5]:
#what is tuple object? read only version of list boject.

a=(10,20.5,"Rahul Gandhi", True, True,10)
print(a)

(10, 20.5, 'Rahul Gandhi', True, True, 10)

In [8]:
users=['Rahul', 'Sonia','Priyanka','Modi']
enames=('Rahul', 'Sonia','Priyanka','Modi')
users.append("Amith Shaw")
users[0] = "Rahul Gandhi"
enames[0]="sunil"
print(users)
print(enames)

TypeError: 'tuple' object does not support item assignment

In [9]:
enames=('Rahul', 'Sonia','Priyanka','Modi')

for ename in enames:
    print(ename)

print(enames[0])
print(enames[1])
print(enames[2])
print(enames[3])
print(enames[4])

Rahul
Sonia
Priyanka
Modi
Rahul
Sonia
Priyanka
Modi

IndexError: tuple index out of range

In [10]:
l=[]   #empty list
t = () #empty tuple
s = {} #empty dict
d={}   #empty dict

print(type(l))
print(type(t))
print(type(s))
print(type(d))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'dict'>

In [11]:
#how to create empty set? - using set() function

s1= set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [12]:
l=[]   #empty list
t = () #empty tuple
s = set() #empty set
d={}   #empty dict

print(type(l))
print(type(t))
print(type(s))
print(type(d))
print(l)
print(t)
print(s)
print(d)

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
[]
()
set()
{}

In [13]:
#what is set?
#group of elmenent as one entity, and not allowed duplicates
a={10,20,20,10,20}
print(a)

{10, 20}

In [14]:
a={10,20.5,"RG",True,10,10}
print(a)

{'RG', 10, 20.5, True}

In [15]:
ids1={101,102,103,104}
ids2={105,106,107,101,102}

ids3=ids1-ids2
print(ids3)

{104, 103}

In [16]:
ids={101,102,103,104}
ids.clear()

print(ids)

set()

In [17]:
users=['Rahul', 'Sonia','Priyanka','Modi']
enames=('Rahul', 'Sonia','Priyanka','Modi')
ids={101,102,103,104}

emp={'id':101,'name':"Rahul"}

users.clear()
print(users)   

#enames.clear()
#print(enames)  #tuple object has no attribute - clear



ids.clear()
print(ids)

emp.clear()
print(emp)

[]
set()
{}

In [19]:
#what is dict?
emp={'id':101,'name':"Rahul"}
print(type(emp))

<class 'dict'>

In [20]:
emp={'id':101,'name':"Rahul", 'id':201}
print(emp)

{'id': 201, 'name': 'Rahul'}