In [1]:
#list-group of elements as one entity
l1=[]#empty list object
l2=[10,20,30,10,20,40.5,"Rahul",True,(),{},{},None]
print(type(l1))
print(type(l2))

<class 'list'>
<class 'list'>

In [2]:
#CREATE
l1=[]
l2=[10,20,30,40,50]
#we can create list using list function
l3=list(range(10))
print(l3)
#using evaluate function
l4=eval(input("enter input"))
#using string split fuction
l5="prostack academy".split()
print(l5)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

enter input 10

['prostack', 'academy']

In [3]:
#READ
#we can read elements using indexing
ids=[101,102,103,104,105]
print(ids)
enames=["suni","bablu","jaivik"]
print(enames)

[101, 102, 103, 104, 105]
['suni', 'bablu', 'jaivik']

In [4]:
#using slice operator we  can read
enames=['rahul','sonia','priyanka','modi','amit']
new_names=enames[:]
print(enames)
print(new_names)

['rahul', 'sonia', 'priyanka', 'modi', 'amit']
['rahul', 'sonia', 'priyanka', 'modi', 'amit']

In [5]:
#using for and while
for ename in enames:
    print(ename)

rahul
sonia
priyanka
modi
amit

In [6]:
i=0
while i<=4:
    print(enames[i])
    i=i+1

rahul
sonia
priyanka
modi
amit

In [8]:
enames=['rahul','sonia','priyanka','modi','amit','modi']
print(enames.count('modi'))

2

In [10]:
enames=['rahul','sonia','priyanka','modi','amit','modi']
values=enames.index("sonia")
print(values)

1

In [12]:
#UPDATE
#append
ids=[101,102,103,104]
ids.append(105)#append-function adds elements to the end of the list
print(ids)

[101, 102, 103, 104, 105]

In [13]:
#insert-we can insert element at specific index
ids=[101,102,103,104]
ids.insert(3,108)
print(ids)

[101, 102, 103, 108, 104]

In [18]:
#extend()-expecting on sequence string,list,tuple,dict
ids=[101,102,103,104,105]
new_ids=[106,107,108]
ids.extend(new_ids)
print(ids)

[101, 102, 103, 104, 105, 106, 107, 108]

In [15]:
#DELETE
#pop-removes the last element and returns the value
enames=["rahul","suni","srujan","sanjay","satwik"]
values=enames.pop()
print(values)

satwik

In [16]:
#remove()-removes the specified element from the list
names=["rahul","sonia","sunil"]
names.remove("sonia")
print(names)

['rahul', 'sunil']

In [17]:
#clear()-clears all the values from the list
l1=[101,102,103,104]
l1.clear()
print (l1)

[]

In [19]:
#UPDATE
#sort()-used to sort the elements by default natural sorting order
enames=["suni","teju","chetu","ashwini"]
enames.sort()
print(enames)

['ashwini', 'chetu', 'suni', 'teju']

In [20]:
enames=["suni","teju","chetu","ashwini"]
enames.sort(reverse=True)#we can sort by descending order
print(enames)

['teju', 'suni', 'chetu', 'ashwini']

In [21]:
#concatenate list object
l1=[10,20,30,40]
l2=[50,60,70,80]
l3=l1+l2
print(l3)

[10, 20, 30, 40, 50, 60, 70, 80]

In [22]:
#repetation oflist object
l1=[10,20,30,40]
l2=l1*5
print(l2)

[10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]

In [23]:
#membership operator in list
enames=["suni","teju","chetu","ashwini"]
print("teju" not in enames)

False

In [24]:
#list aliasing
l1=[10,20,30,40]
l2=l1
l1[1]=25
print(l1)
print(l2)

[10, 25, 30, 40]
[10, 25, 30, 40]

In [25]:
#how to clone list object
#copy() and slice operator[:]
#copy-if you want to create new list
l1=[10,20,30,40]
l2=l1.copy()
print(l2)

[10, 20, 30, 40]

In [26]:
#slice operator[:]
l1=[10,20,30,40]
l2=l1[:]
print(l2)

[10, 20, 30, 40]

In [28]:
enames=["rahul","sonia","priyanka","modi","amith"]
new_names=enames[2:4]
print(new_names)

['priyanka', 'modi']